<app-header></app-header>

<main>
    <section class="main-section pad-70">
        <div class="headline">
            <h2>Fábrica de software e mobile apps</h2>
        </div>
    </section>

    <app-newsletter-form></app-newsletter-form>

    <section class="benefit-section pad-70">
        <app-benefit
            card-title="Equipe capacitada"
            img-path="/assets/team.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
            >
        </app-benefit>
        <app-benefit
            card-title="Seus Projetos totalmente documentados"
            img-path="/assets/project-guide.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
            >
        </app-benefit>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer elevar seus negócios para outro nível?</h2>
        <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
    </section>
    <app-footer></app-footer>
</main>